html {
    background-image: url("../../Images/frog.gif");
    background-image: repeat;
 }
 body {
    width: 800px;
    margin: 0 auto;
    padding: 0;
    background-color:blanchedalmond;
    border: 5px solid #392613;
    font-family: garamond;
 }
 h1, h2, h3, p {
   margin: 0;
   padding: 0;
 }
 h2 {
    text-align: center;
 }
 h3 {
    text-align: center;
 }

 /* Navigation Menu */
 #nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 800px;
    position:static;
    top:0 ;
 }
 
 #nav_menu ul li {
    float: left;
    width: 230px;
 }
 #nav_menu ul li a {
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: rgb(245, 57, 82);
    color: white;
    font-weight: bold;
 }
 #nav_menu ul li a.lastitem {
    border-right: none;
 }
 #nav_menu ul li a.current {
    color: rgb(118, 149, 250);
 }
 #nav_menu ul li a:hover, #nav_menu ul li a:focus {
    background-color: rgb(243, 145, 161);
 }
 
 /* Header */
 header {
    border-bottom: 5px solid #392613;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
 }

 /* Main */
 main{
   margin: 2em;
 }

 /* Column */
 .column1 {
    float:left;
    width: 50%;
 }
 .column1 img {
    align-items: center;
 }
 .column2 img {
    align-self: center;
 }

 /* Rows */
 .row:after {
    content: "";
    display: table;
    clear: both;
 }

 /* Footer */
 footer {
    text-align: center;
    border-top: 5px solid #391316;
 }
 
 
 