html {
    background-image: url("frog.gif");
    background-repeat: repeat;
 }
 body {
    width: 800px;
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 0;
    margin-bottom: 0;
    background-color:blanchedalmond;
    border: 5px solid #392613;
    font-family: garamond;
 }
 header {
    border-bottom: 5px solid #392613;
    text-align: center;
 }
 main {
   margin: 3em;
   img{
      float:left;
 }
 }
 footer {
    text-align: center;
    border-top: 5px solid #392613;
 }

 